.avatar{
    width:128px; 
    border: solid 5px white; 
    border-radius:15px;
   
}

body{
    background: rgb(108,203,227);
background: linear-gradient(90deg, rgba(108,203,227,1) 5%, rgba(84,230,206,1) 67%, rgba(20,186,165,1) 95%);
}

.boja{
    background: rgb(237, 234, 234);
    box-shadow: 14px 14px 41px 8px rgba(128,126,126,0.93);
-webkit-box-shadow: 14px 14px 41px 8px rgba(128,126,126,0.93);
-moz-box-shadow: 14px 14px 41px 8px rgba(128,126,126,0.93);

}

